*,
*::after,
*::before {
    box-sizing: border-box;
}
a {
    text-decoration-line: none;
}
.page {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0001);
    width: 1280px;
    /*height: 1626px;*/
}
.page-body {
    margin: 0;
    font-family: sans-serif;
}
.page-header {

}
.header-nav {
    padding: 7px 15px;
    /*width: 1280px;*/
    /*height: 78px;*/
}
.header-menu {
    margin: 0;
    height: 78px;
    padding: 25.5px;
    text-align: center;
}
.header-menu-item {
    display: inline-block;
    margin-right: 72px;
    /*border: ;*/
}
.header-menu-link {
    color: #FF0000;
     /*font-variant: small-caps;*/
     /*font-weight: 500;*/
     font-size: 18px;
}
.banner {
    width: 1280px;
    height: 789px;
}
.content-photo-from-life {
    text-align: center;
}
.life-with-photos {
    padding: 49px 0 0;
    font-size: 22px;
}
.story-by-photo {
    padding: 38px 67.5px 0;
    font-size: 16px;
}
.legend-by-photo {
    padding: 28px 67.5px 84px;
    font-size: 16px;
}
.legendary-life-story {
    /*border: 191px 51px;*/
    font-weight: bold;
    font-size: 12px;
    background-color: #FF0000;

    display: inline-flex;
    padding: 32px 48px;
    margin-top: 0;
    margin-bottom: 0;
}
.page-footer {
    padding: 82px 105px 29px 713px;
    text-align: right;
}
.footer-estate {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}