body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.page {
    width: 1480px;
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.0001);
}
.page-body {

}
.page-header {

}
.header-logo {
    display: inline-block;
    vertical-align: center;
    text-align: center;
    width: 334px;
    height: 79px;
    font-size: 80px;
    margin: 61px 0 0 98px;
}
.header-logo-link {
    color: deepskyblue;
}
.header-nav {
    width: 1283px;
}
.header-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 38px 0 0 100px;
    width: 1280px;
    height: 72px;
    background-color: #35444F;
    list-style: none;
}
.header-menu-item {
    font-size: 24px;
    color: #FFFFFF;
}
.header-menu-item-hmi1 {
    /*border: 1px solid #FFFFFF;*/
    /*padding: 27px 40px 25px 40px;*/
}
.header-menu-item-hmi4 {
    /*border: 1px solid #FFFFFF;*/
}
.page-main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1380px;
    /*margin: 0 0 0 0;*/
    height: 829px;


}
.main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    margin: 50px 0 0 100px;

    border: 1px solid #000000;
    height: 399px;
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);

}
.main-menu {
    margin: 26px 0 0 44px;
    list-style: none;
}
.main-menu-item-mmi1 {
    /*margin: 26px 0 0 44px;*/
    /*padding: 10px;*/
}
.main-menu-item {
    font-size: 27px;
    color: #485863;
}
.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 99px 0 52px;
    width: 1280px;
    padding-left: 130px;
}
.main-content-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    height: 529px;
    width: 885px;
}
.main-content-title-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 381px;
    width: 320px;
}
.main-content-text-principium {
    width: 885px;
    height: 120px;
    font-size: 18px;
    color: #2C2C2C;

}
.main-content-text-progressio {
    width: 885px;
    height: 109px;
    font-size: 18px;
    color: #2C2C2C;

}
.line-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 1280px;
    margin: 54px 100px 30px 100px;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer-nav {
    margin-left: 40px;
}
.footer-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.footer-menu-item {
    margin-right: 20px;
    font-size: 28px;
    color: #0C1927;
}
.footer-estate {
    margin-right: 40px;
    font-size: 24px;
    color: #010101;
}